<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for BoxedWine" Description="Code analysis rules for BoxedWine.vcxproj." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26435" Action="Warning" />
    <Rule Id="C26437" Action="Warning" />
    <Rule Id="C26457" Action="Warning" />
    <Rule Id="C26465" Action="Warning" />
    <Rule Id="C26466" Action="Warning" />
    <Rule Id="C26471" Action="Warning" />
    <Rule Id="C26472" Action="Warning" />
    <Rule Id="C26473" Action="Warning" />
    <Rule Id="C26474" Action="Warning" />
    <Rule Id="C26475" Action="Warning" />
    <Rule Id="C26476" Action="Warning" />
    <Rule Id="C26477" Action="Warning" />
    <Rule Id="C26478" Action="Warning" />
    <Rule Id="C26479" Action="Warning" />
    <Rule Id="C26490" Action="Warning" />
    <Rule Id="C26491" Action="Warning" />
    <Rule Id="C26492" Action="Warning" />
    <Rule Id="C26494" Action="Warning" />
    <Rule Id="C26495" Action="Warning" />
    <Rule Id="C26826" Action="Warning" />
  </Rules>
</RuleSet>