project/msvc/BoxedWine/.vs/
project/msvc/BoxedWine/BoxedWine/BoxedWine.vcxproj.user
project/msvc/BoxedWine/x64/
project/msvc/BoxedWine/Debug/
project/msvc/BoxedWine/Release/
project/msvc/BoxedWine/BoxedWine/x64/
project/msvc/BoxedWine/BoxedWine/Debug/
project/msvc/BoxedWine/BoxedWine/Release/
project/msvc/BoxedWine/zlib/x64/
project/msvc/BoxedWine/zlib/Debug/
project/msvc/BoxedWine/zlib/Release/
lib/sdl2/VisualC/SDL/Win32/
lib/sdl2/VisualC/SDL/x64/
lib/sdl2/VisualC/SDLmain/Win32/
lib/sdl2/VisualC/SDLmain/x64/
project/msvc/BoxedWine/BoxedWine/imgui.ini
project/linux/bin/
project/linux/linux_build/
project/mac-xcode/bin/
**/imgui.ini
**/*.vcxproj.user
