aclocal.m4
autom4te.cache
**/Makefile
*.o
*.la
*.lo
.deps
.libs
config.log
config.status
contrib/addtiffo/addtiffo
contrib/dbs/tiff-bi
contrib/dbs/tiff-grayscale
contrib/dbs/tiff-palette
contrib/dbs/tiff-rgb
contrib/iptcutil/iptcutil
libtiff-4.pc
libtiff/mkg3states
libtiff/stamp-h1
libtiff/stamp-h2
libtiff/tif_config.h
libtiff/tif_config.h.in
libtiff/tiffconf.h
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tools/fax2ps
tools/fax2tiff
tools/pal2rgb
tools/ppm2tiff
tools/raw2tiff
tools/tiff2bw
tools/tiff2pdf
tools/tiff2ps
tools/tiff2rgba
tools/tiffcmp
tools/tiffcp
tools/tiffcrop
tools/tiffdither
tools/tiffdump
tools/tiffinfo
tools/tiffmedian
tools/tiffset
tools/tiffsplit
