<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Boxedwine.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BoxedwineAutomation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BoxedwineAutomationX64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BoxedwineTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BoxedwineTestX64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BoxedwineX64 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BoxedwineX64.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71034CD724820DE600FED5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71034F0D2482B71000FED5C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71222B182435140100CDBABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71222BCB24351CBA00CDBABD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7135DC10264EBCD0005D6AA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71FBFCAC2433B815003F17F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
